<a href="https://colab.research.google.com/github/mandadih/BDA-ICP/blob/main/ICP1_700772591.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [8]:
A = list('BIGDATA')

print(f"Original list: {A}")


del A[1]
del A[2]

print(f"After deletion: {A}")


A.reverse()


result_str = ''.join(A)


print(f"Reversed string after deletion: {result_str}")

Original list: ['B', 'I', 'G', 'D', 'A', 'T', 'A']
After deletion: ['B', 'G', 'A', 'T', 'A']
Reversed string after deletion: ATAGB

In [9]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))


addition = num1 + num2
subtraction = num1 - num2
multiplication = num1 * num2


if num2 != 0:
    division = num1 / num2
else:
    division = "undefined (cannot divide by zero)"


print(f"Addition: {addition}")
print(f"Subtraction: {subtraction}")
print(f"Multiplication: {multiplication}")
print(f"Division: {division}")

Enter first number: 10
Enter second number: 20
Addition: 30.0
Subtraction: -10.0
Multiplication: 200.0
Division: 0.5

In [10]:

sentence = input("Enter a sentence: ")


updated_sentence = sentence.replace('chocolate', 'chocolates')


print("Updated sentence:", updated_sentence)

Enter a sentence: i love chocolate
Updated sentence: i love chocolates

In [11]:
score = float(input("Enter your class score: "))

if score >= 90:
    grade = 'A'
elif score >= 80:
    grade = 'B'
elif score >= 70:
    grade = 'C'
elif score >= 60:
    grade = 'D'
else:
    grade = 'F'


print(f"Your grade is: {grade}")

Enter your class score: 75
Your grade is: C

In [13]:
x = [23, 'Python', 23.67]


types_list = [type(item) for item in x]


print(x)
print(types_list)

[23, 'Python', 23.67]
[<class 'int'>, <class 'str'>, <class 'float'>]

In [7]:
IT_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

print(len(IT_companies))

IT_companies.add('Twitter')
print(IT_companies)

IT_companies.update(['LinkedIn', 'Snapchat'])
print(IT_companies)

IT_companies.remove('IBM')
print(IT_companies)

IT_companies.discard('XYZ')

print(A.union(B))
print(A.intersection(B))
print(A.issubset(B))
print(A.isdisjoint(B))
print(A.union(B))
print(B.union(A))
print(A.symmetric_difference(B))

del A
del B

age_set = set(age)
print(len(age))
print(len(age_set))

7
{'Facebook', 'Amazon', 'Apple', 'IBM', 'Google', 'Oracle', 'Twitter', 'Microsoft'}
{'Snapchat', 'LinkedIn', 'Google', 'Facebook', 'IBM', 'Twitter', 'Amazon', 'Microsoft', 'Apple', 'Oracle'}
{'Snapchat', 'LinkedIn', 'Google', 'Facebook', 'Twitter', 'Amazon', 'Microsoft', 'Apple', 'Oracle'}
{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26}
True
False
{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26, 27, 28}
{27, 28}
8
5